[2018-02-06 14:18] Patowhiz opened #8 "Back Colour for Text Boxes When Adding/Updating New Record"
@volloholic  suggested that the textbox background colour to be
- white when it's a new record
- green when it's an existing value in the database
- orange when the value is an update of the original value
- red when it's an invalid value

This can be implement in the `UcrTextbox `control

[2018-02-06 14:23] Patowhiz opened #9 "Adding of the DB Write Functionality To The ucrFormDaily2 Control"

[2018-02-07 08:02] maxwellfundi opened #10 "Navigation Bar"
Should the  navigation bar move through the  records in the database? Would it be useful  to include features where you could navigate through records of certain station, Element, Month etc and should you be able to navigate to new records?

[2018-02-19 06:36] Patowhiz opened #14 "Which branch should we work with ?"
@dannyparsons  @volloholic  @maxwellfundi should we start making pull request against the master branch or the dev branch?

[2018-02-19 06:49] maxwellfundi commented on #14
@Patowhiz  we should do pull requests to the dev branch. That was our previous agreement. Unless we have a reason to change.

[2018-02-19 06:55] Patowhiz commented on #14
I can see you have a pull request #11  First copy of reading and writing from frmNewDaily2 . is your branch with the latest code changes?

[2018-02-19 08:19] maxwellfundi commented on #14
yes that has the latest changes from Last week.

[2018-02-19 09:14] volloholic commented on #8
@maxwellfundi Can we take note of the colours that Samuel wants for this

[2018-02-19 09:16] volloholic commented on #9
@maxwellfundi can you confirm what the current state of this is? In particular have we resolved the issue about overwriting existing records when we don't click on save immediately?

[2018-02-19 09:17] volloholic commented on #10
Let's start with the same functionality that currently exists i.e. moving through the records.

[2018-02-19 12:23] maxwellfundi commented on #10
Okay, sounds good.

[2018-02-19 12:49] Patowhiz commented on #10
@maxwellfundi I can work on this if you aren't started yet

[2018-02-19 12:53] maxwellfundi commented on #10
Sounds good @Patowhiz

[2018-02-19 14:30] Patowhiz commented on #8
@maxwellfundi  what are Samuel colour preferences ? are they similar to what I've mentioned above?

[2018-02-20 08:14] maxwellfundi commented on #8
@Patowhiz  we want red for critical errors, and white for  the new record

[2018-02-20 08:18] maxwellfundi commented on #8
And cyan for non critical errors. Interestingly, when there is a missing value in the value textbox, its red but then when you put something else in, it does not change the color to white.

[2018-02-20 17:59] Patowhiz commented on #10
@volloholic @maxwellfundi this is how I have thought of the navigation control.

It will be setup with the table and the fields. These field will technically be what defines the primary key, it could be one key or a composite key. Then it will load all records and it's datatable will have columns that are comprised of the fields defined.

Then controls like selectors will be linked to the navigati

[2018-02-20 18:08] #14 closed, assigned to nobody

[2018-02-21 08:19] maxwellfundi opened #16 "Do we want to update all fields on forms when we change view type in Selectors?"
I have realized  in our current selectors, when i change the view type from names to IDs or vice versa, the fields in the form change even when the ID is the equivalent of the station/element name.
@africanmathsinitiative/climsoft  do you think this is how we want this to work?  @shadrackkibet  @Patowhiz

[2018-02-21 09:14] maxwellfundi opened #17 "Concerned about the speed at which our controls respond to events"
I am not sure why  forms  seems to be very slow to populate the controls when we change the contents of our selectors. Anyone with ideas how to make this faster? @Patowhiz @shadrackkibet  @dannyparsons , @volloholic

[2018-02-21 11:34] Patowhiz commented on #16
I think the view type shouldn't affect the other controls. It shouldn't
raise our event change and the selected value should be retained

On Feb 21, 2018 11:20 AM, "Maxwell Fundi" <notifications@github.com> wrote:

[2018-02-21 11:36] Patowhiz commented on #17
It's cause every control is making a separate data call which means our
connection object is querying multiple times to the database.

We just need to manage this at the connection object level. One way is to
have it read from it's cached db table. We can work on this

On Feb 21, 2018 12:14 PM, "Maxwell Fundi" <notifications@github.com> wrote:

[2018-02-23 12:29] Patowhiz opened #18 "Unavailability of form_monthly DbSet In The Entity Model"
@shadrackkibet  and I just discovered `Property form_monthly() As DbSet(Of form_monthly)` is missing in the entity framework model in class Class `mariadb_climsoft_test_db_v4Entities` . This makes the Entity Framework Context object not to be able to map the to the form_monthly table in the database. For form_monthly to be tested the model needs to be updated. @dannyparsons  @volloholic

[2018-02-28 12:39] dannyparsons commented on #16
That's correct it shouldn't affect linked control or raise events.

[2018-02-28 12:42] dannyparsons commented on #17
This is now considerably faster after changing the implementation to have only `ucrFormDaily2` reading from the database. Our reading from the database and creating a `DataTable` is still not particularly fast but this can be improved in our data link in future.

[2018-02-28 12:47] dannyparsons commented on #18
From @isedwards

So there may be modifcations to be made to the database and then update the entity framework model.

[2018-03-03 13:11] Patowhiz opened #24 "Unavailabilty of Public Property entryDateTime in Class form_hourlywind Entity Model"
@dannyparsons  @isedwards the above mentioned property is missing, to finish working on this form we need it included.

[2018-03-11 18:20] dannyparsons opened #25 "Clear button behaviour"
The clear button on new forms does not seem to be behaving as it does on original forms. Clear effectively cancels the 'Add New' and goes back to the first record. It is only enabled after clicking Add New.

On our new forms it is (worryingly) doing different things on different forms but on none of them is it doing as above. Was it discussed to do this differently?
If not, I have corrected this o

[2018-03-11 19:12] Patowhiz commented on #25
@dannyparsons please use frmNewHourlyWind. It's the one that I did a replica of the old form. Form2Daily is being handled by maxwell

[2018-03-11 21:54] dannyparsons commented on #25
I checked frmNewHourlyWind as well and it's also doing something different to what I've described above. There's also strange bugs where edited values remain even if I don't save the record, but I may not have the most up to date version of the form.

Although different people work on different forms you should be aware of what each other are doing, especially since the forms very similar things s

[2018-03-12 06:59] Patowhiz commented on #25
@dannyparsons  edited values are retained because of the entity framework. Everytime you type something on the textbox it sets the particular entity field. The framework caches these values. One way of solving this is by working with a detached entity, alternatively though I strongly don't advocate it is to force the context object to refresh it's values everytime you go to another record.

[2018-03-12 07:04] Patowhiz commented on #25
[code]
From the above code, which is more advisable between going the previous record (the one that was being viewed before the add new ) or just going to the first record.

[2018-03-12 07:08] Patowhiz commented on #25
Then on the same clear functionality. This is how we conceptualised the navigation control. When you click on add new, it's navigation buttons get disabled and it's textbox displays new record position. When you save or click on clear, the navigation buttons are enabled(restored). This was to let a user know that he can't go to the next record on operation add new.

If such a functionality is not

[2018-03-13 08:59] maxwellfundi commented on #25
The clear on my form too goes to the first record and so am calling MoveFirst() for the navigation control

[2018-03-13 09:23] maxwellfundi commented on #17
This has been fixed. Am closing it

[2018-03-13 09:23] #17 closed, assigned to nobody

[2018-03-13 09:37] maxwellfundi commented on #16
This has also been addressed. Closing it

[2018-03-13 09:37] #16 closed, assigned to nobody

[2018-03-13 13:51] dannyparsons commented on #25
Great, that is how the original forms work so we should start by doing the same. Please communicate with each other so that the things work consistently across dialogs.

[2018-03-15 10:02] dannyparsons commented on #24
This is missing on all the data entry form tables. When an updated database is used to update the entity model we need to come back to this and add to all forms.

[2018-03-21 12:38] maxwellfundi opened #30 "Right click menu for key controls"
For key controls (station, day, hour, month and element selectors) a right click menu has been added with the following functionality:
Allow users to choose how to display values e.g. view station names, IDs or name and IDs in the combobox.
Items in the combobox can be sorted e.g. by ID or by name.
Filtering - still in development but leads to a subdialog to filter items displayed by a certain con

[2018-03-21 12:39] maxwellfundi opened #31 "Year selector changed to a combo box"
The year selector display 6 years from the current date to allow users to be to select recent years from a drop down. It also as well as typing in.

[2018-03-21 14:46] maxwellfundi opened #32 "The Navigation control will indicate “New record” when you are adding new record"
When there is no record in the database table it will indicate “No Records” in the textbox and when entering a new record it indicates “New record”. "New record" was chosen as appropriate text as opposed to the next record number so that only once a record has been added does it have a record number. However, it may also be needed to still display the total number of current records in some way.

[2018-03-21 14:48] maxwellfundi opened #33 "confirm Update record message box"
When you update a record we have added a message box to notify the user that they are updating a record.

[2018-03-21 15:02] maxwellfundi opened #34 "Change of key values update Navigation control"
On change of the values of key controls, if a record with that key exists, navigation updates appropriately(moves  to that record)

[2018-03-21 18:51] dannyparsons opened #36 "Entity Framework Model issue for Upload records functionality"
The model currently has a relationship which only allows one record in the `observationinitial` table per station. The code for the Upload feature is written but currently commented until this is resolved. It should be solvable by a small change to the model.

[2018-03-22 07:50] Patowhiz commented on #25
This is now solved. The remaining part is to ask Samuel as to why it was necessary to check "Incomplete header information" during the clear.

[2018-03-22 07:58] Patowhiz opened #37 "Add New Button"
Please note the add new button doesn't necessarily make the navigation control to show "New Record". Reason being the key controls haven't changed especially when the sequencer points to an existing. To add on that, when I change any of the key controls and the record happens not to exist then the "New Record" gets displayed. Is this the functionality desired? This would have worked correctly from

[2018-03-22 08:52] Patowhiz opened #38 "FormSynopticRA1 Saving of Records"
@dannyparsons  @smachua  @mhabimana .The fields naming in form_synoptic_2_ra1 datatable doesn't match the element id in the obselement datatable. The old forms are saving records of the observation elements to the wrong columns. For instance  Geopotential Height-hh  which is an element with Id 185 is being saved to column val_Elem196., yet an element with Id 196 is Cloud Amnt  High Lvl .  Is this

[2018-03-22 09:28] Patowhiz opened #39 "Linking of ucrDay to ucrYear and ucrMonth selectors"
Currently the year and month are not linked to the day. That means the month of february and those months with 30 days ... don't affect the days displayed by the ucrDay control

[2018-03-26 09:15] maxwellfundi opened #40 "Flag field should be non-editable"
We currently can be able to type in Flags on to the flag field. This field should be non editable flag should be inserted automatically from the value.

[2018-03-26 09:17] maxwellfundi opened #41 "Flag and period fields should be proportional to the length of text in them"
The flag and period should not be of same size as the value fields. They need to be smaller like it it in the old forms.

[2018-03-26 09:27] maxwellfundi opened #42 "Populating element and station selectors with user text"
Having the right click menu is great but Samuel would like the feature where the user is able to type in an element/station  name or ID and its populated onto the station/element selector.

An additional desirable enhancement would be;- While typing the station/element name, the items of the combo box get sorted to remain with the closest string to what the user is typing.

[2018-03-26 09:29] maxwellfundi opened #43 "Typing into year selector"
Typing in the year selectors throws a bug.

[2018-03-26 11:25] maxwellfundi opened #44 "Saving with/without total"
The hourly and daily forms have the total field which the user should be able to save with or without it, including if it does not match the computer calculated total.

Further, the user should be able to switch on and off the requirement of the total from the metadata

[2018-03-26 11:26] maxwellfundi opened #45 "Saving data for future"
We should not be able to save data for future. The last acceptable record is usually of the previous day.

[2018-03-26 11:30] maxwellfundi opened #46 "Linking forms with proper metadata"
We need to get the forms linked properly with their respective metadata. example the hourly wind has no of directions and speed for the wind as well as the synoptic hours. These values are linked from a table that we need to link the controls with appropriate table for this kind of data

[2018-03-26 11:30] maxwellfundi opened #47 "00 hours on form_hourly should be enabled from synoptic hours"
This links to linking forms to proper metadata

[2018-04-03 07:52] maxwellfundi commented on #41
Working on this now.

[2018-04-10 07:21] maxwellfundi commented on #43
@africanmathsinitiative/developers I dont seem to be able to replicate this error. Please keep testing you might replicate it and find out what the bug is.

[2018-04-10 07:30] Patowhiz commented on #43
Checking this

On Tue, Apr 10, 2018, 10:21 AM Maxwell Fundi <notifications@github.com>
wrote:

[2018-04-10 12:14] maxwellfundi commented on #46
This includes also the total requirement for the forms requiring totals as well as forms with synoptic hours.

[2018-04-11 07:56] maxwellfundi commented on #45
@Patowhiz how do you suggest we implement this?

[2018-04-11 08:08] Patowhiz commented on #45
@maxwellfundi I don't if this should happen during the save only or even during the selection of month and day.
During the save we can do this by getting the currently set date from the computer and checking it against year in ucrYear, the month in the `ucrMonth ` and day in the `ucrDay `. If the **user**  combined choice value is greater than the computer's date then the save operation should not

[2018-04-11 08:17] maxwellfundi commented on #45
So the save should not be disabled, the point is that we should only allow entry until the previous day in these forms. So we need to just disable the current day onwards.

We could keep checking when the month, year and day is changed and check that value with current date then disable appropriately. Something similar to the leap year thing

[2018-04-11 08:28] Patowhiz commented on #45
Just to clarify. Do you mean we should only allow entry upto the previous day **NOT** upto the current day?

[2018-04-11 08:40] Patowhiz commented on #45
Then if you haven't started this I can take it up after we finalise this discussion.

[2018-04-11 08:43] Patowhiz commented on #45
Oh! I just saw the point. Samuel says up to the previous day. So I presume that means a user should not be able to save records of today.

[2018-04-11 08:45] maxwellfundi commented on #45
yes, up to the previous day.

[2018-04-11 09:20] Patowhiz commented on #42
@maxwellfundi I can work on this if you haven't started it.

[2018-04-11 09:44] maxwellfundi commented on #42
@Patowhiz  Go ahead

[2018-04-11 09:59] maxwellfundi commented on #45
Okay.

[2018-04-19 12:35] Patowhiz commented on #43
The error is thrown when someone types in a letter. Its an InvalidCastException which occurs in SetValue subroutine of the ComboBoxLink parent control. The Items in the year selector or of type Integer and the set value is a string, this breaks the application during runtime.
I have fixed this.

[2018-04-19 14:58] Patowhiz commented on #42
@maxwellfundi from your explanation I'm torn between just suggesting or suggesting and appending

cboValues.AutoCompleteMode = AutoCompleteMode.Suggest

or

cboValues.AutoCompleteMode = AutoCompleteMode.SuggestAppend

The first one the user will have to select the suggested items either by mouse or arrow keys, the latter will be highlighting the untyped letters and the user can just press enter or

[2018-04-19 15:19] Patowhiz commented on #42
The picture below illustrates

<img width="215" alt="selector" src="https://user-images.githubusercontent.com/21179007/39001130-3a04118e-43fe-11e8-9737-dd660ed034e3.png">
this.

[2018-04-26 07:33] #43 closed, assigned to nobody

[2018-04-26 07:33] #40 closed, assigned to nobody

[2018-04-26 07:34] #41 closed, assigned to nobody

[2018-04-26 07:35] maxwellfundi commented on #46
@Patowhiz Did you do this for the directions of the wind in your hourlywind?

[2018-04-26 07:35] #44 closed, assigned to nobody

[2018-04-26 07:38] Patowhiz commented on #46
Yeah. I had already done it.

On Thu, Apr 26, 2018, 10:35 AM Maxwell Fundi <notifications@github.com>
wrote:

[2018-05-09 02:51] Patowhiz commented on #45
@maxwellfundi David suggested we do this at the base control level.

[2018-05-09 05:33] Patowhiz opened #55 "ucrNavigation, ucrMonth and ucrDay"
When navigating from one record to another, the navigation calls on the last key control ONLY to raise event value changed. This introduces a bug such that `ucrDay `which  also relies on `ucrMonth ` value to update itself fails to display the correct number of days, especially when the month changed has different number of days than the previous one.

![ucrnavigation](https://user-images.githubuse

[2018-05-09 05:36] Patowhiz commented on #18
@dannyparsons  @volloholic please note this issue has not been addressed. This form is still far from completion.

[2018-05-09 05:37] #25 closed, assigned to maxwellfundi, volloholic, Patowhiz, shadrackkibet

[2018-05-09 05:37] Patowhiz commented on #25
This was fixed

[2018-05-09 05:38] Patowhiz commented on #8
This was fixed. We adopted samuel's colours.

[2018-05-09 05:38] #8 closed, assigned to nobody

[2018-05-22 05:50] shadrackkibet opened #56 "Period for Form Daily 2"
One of the things that Lesotho Met data entry team requested  to be enabled in form daily 2 is to hide period when they are entering temperature Elements(Tmin and Tmax). They are suggesting that Period should only be visible when Rainfall is being entered.

I am not sure what to do with other elements, from my understanding is that they are currently entering Tmin, Tmax and Rainfall data.

[2018-05-22 05:54] shadrackkibet opened #57 "Form Daily2- Temperature"
Lesotho Met data entry team would like to have a check for Tmin and Tmax being done on the form. There is no instance whereby Tmax < Tmin and therefore they would like Climsoft not to allow that.

[2018-05-22 06:22] shadrackkibet opened #58 "Form Daily 2 - Flag."
Lesotho Met data entry team  suggested that Flag should only allow;
**T-Trace
E-Estimate
D-Dubious/Doubtful
M-Missing**

For Rain all above options should be displayed and for temperature only E,D and M. So they are also suggesting this to be an editable combo box with this options.

[2018-05-22 06:33] shadrackkibet opened #59 "Form Daily2 -Flexibility"
Currently when using this form you can only enter one element at a time. They would like to have flexibility in this form in such a way that they could enter multiple elements at once, **Tmin , Tmax** and **Rain** as they have this on one sheet.

Some of them preferred using the form as it is now, so we should provide this flexibility.

[2018-05-22 06:39] shadrackkibet opened #60 "Form Daily 2 - Elements of "Interest."?"
There was a request that currently on the elements selector we have a number of elements. They would like to filter this to only elements of their "interest" - Rain, Tmin and Tmax

[2018-05-22 11:36] mhabimana commented on #60
@shadrackkibet This has  already been implemented and working well in V4. What you need to do is to select the elements you need to appear in the metadata section under Element tab but by default, climsoft v4 will display all the elements.

[2018-05-22 11:57] mhabimana commented on #59
@shadrackkibet I get the point here.But since the Key Entry Form for Daily data is unique for RR, TMax ,TMin, etc, and data are normally entered by element, it is good to enter one element at time and then go to the next element,with sequencer,this work well. I think we can discuss further on this but from my experience the best way is to enter a column of data and once you are done,you go to the

[2018-05-22 18:06] volloholic commented on #59
Hi @mhabimana This was an interesting and rich discussion we had with the data entry clerks. Some of them were seeing this option as a way of reducing the data entry errors. There are a number of advantages that they pointed out. They recognized that it may be potentially slightly slower but felt that they could be checking some of the other QC issues as they go along in particular the difference

[2018-05-23 05:42] mhabimana commented on #59
@volloholic  Sounds great.

[2018-05-24 10:12] #45 closed, assigned to nobody

[2018-05-27 12:15] #39 closed, assigned to nobody

[2018-05-27 12:57] #47 closed, assigned to nobody

[2018-05-29 06:38] Patowhiz opened #71 "UcrNavigation Sequencer And Add New Functionality"
During the sequencing. Should the navigation move to that last records first. Currently the sequencing might set the wrong key control values when the current selected record is not the last new before add new is clicked

[2018-05-29 06:39] Patowhiz opened #72 "UcrNavigation Sorting"
Should the navigation control sort the records? using which field?

[2018-05-29 06:42] #55 closed, assigned to nobody

[2018-05-29 07:08] Patowhiz opened #74 "Changing of focus in the dialogs"
The current implementation doesn't augur well with changing of focus on enter in individual text boxes. This is in all dialogs.

[2018-05-29 09:22] isedwards opened #75 "Update Climsoft 4 database to add primary keys"
"[Entity Framework relies on every entity having a key value that it uses for tracking entities.](https://msdn.microsoft.com/en-us/library/jj591583(v=vs.113).aspx#Key)"

Let's add primary keys into `form_monthly`, `observationschedule` and `observationinitial` to simplify things for EF and hopefully fix #18 and #36.

- [x] Get hold of a copy of the most recent version of the SQL to generate the Cl

[2018-05-29 09:23] isedwards commented on #36
I think this may be related to the same problem that we are having in #18 (where tables are missing from the EF model due to the lack of a single-column primary key id).  See #75 for any attempted solution to both.

If #75 doesn't fix the issue when writing multiple records into `observationinitial` (i.e. the foreign key between stationId and recordedFrom is still not correctly recognised as 1-to-

[2018-05-29 11:40] maxwellfundi commented on #42
Am reopening this because one thing is missing

We need the user to see the descriptions of the station/element when they type station/element ids.

[2018-05-29 11:56] maxwellfundi opened #76 "Issues with total"
![image](https://user-images.githubusercontent.com/9798689/40657368-4608ba54-6350-11e8-8a4a-b035f2e860f0.png)

This message box should have the computed total. Further, we need to make sure that if there is nothing in the total box the Val <> 0

[2018-05-31 09:39] maxwellfundi opened #77 "When there is a value on the value box, the flag should not have M on it"
Currently, when we move from a value box to the next without entering a value, then we have M as the flag. If I then fill in the value then click on Assign to all obs then that M is not removed. @Patowhiz  this need to change.

[2018-05-31 14:40] maxwellfundi opened #78 "navigation within the dailogs"
So the desirable feature here is that the users use enter key and so when dialog loads the focus should be the station selector and on hitting enter the focus goes to the next control.

[2018-06-05 06:26] maxwellfundi commented on #46
@Patowhiz  I am reopening this because on your hourly wind, when the digits for the wind direction and speed are changed from metadata, it doest update the textboxes on the main form and hence not working properly! Synoptic hours for this form works well though.

[2018-06-05 06:50] maxwellfundi opened #79 "Typing in to the Station and element selector"
A desired thing on this is that regardless of which view you are in (Either from the ids, Ids and names or Names), the user should see the names of elements/station names when they type in a number(id) for the elements/stations.

@africanmathsinitiative/climsoft-developers  Do we encourage them to have the default view type as ids and names?

[2018-06-05 07:05] mhabimana commented on #79
@maxwellfundi
Below is an e.g of a daily form with station name and station element displayed by default. Now let say you want to change the station name and element name, In this case instead of using the drop down box,you can simply type the stationId to call the station name in the text box and type elementId to call the element name in the text box ( this  speed up the process during Data entr

[2018-06-05 07:33] Patowhiz commented on #79
The easiest way to implement this will be to set the view type as Station Id and Station Name.

[2018-06-05 07:53] Patowhiz commented on #79
@mhabimana our initial thought was that the user should only be able to search for the what he physically sees. That means, if my view type is just station id, then I can only type in station id to get the station I want, the same applies for station name.

To be able to achieve what you are asking for we can easily set the default view type for the station and element selectors to be Ids and Name

[2018-06-05 08:06] mhabimana commented on #79
@Patowhiz Thanks. I think your last point would be the best option since it was implemented in earlier versions and is also working well on the climsoft version4 we currently have: https://github.com/opencdms/Climsoft
By default we should have only the name and not id and since name and id are linked,you can use an id to call the name. Having both name and id will be too long.

[2018-06-06 09:47] Patowhiz commented on #76
@maxwellfundi I don't understand the last point, what do you mean by "we need to make sure that if there is nothing in the total box the Val <> 0"?  Do you mean that when there is nothing in the total box then we shouldn't do the check?

[2018-06-06 09:56] maxwellfundi commented on #76
So what @mhabimana  and @smachua were saying was that for example, if an element needs a total, then when there is nothing (user has not put in anything) on the total box then a message would be that total is required not the message box we currently have that says total computed by computer is different from what whats entered. This is brought about by when we do `val(txttotal.GetValue)` equates

[2018-06-06 10:16] mhabimana commented on #76
@Patowhiz, @maxwellfundi : The total value displays in the total text box is just for QC purpose and it should not be saved anywhere in the database. As @maxwellfundi  says, zero (0) is a value and  it means there was no rains but it does not mean nothing. Having the total computed by the computer and displayed in the message box is very helpful because it prompts the data entry personnel to compa

[2018-06-06 10:58] Patowhiz commented on #76
@mhabina thank you for the clarity.

[2018-06-07 07:25] maxwellfundi opened #83 "Computer makes "error noise" when I press enter while keying in data"
When am on the data entry fields, while going down the data entry fields using the enter key, the computer makes some error like noise which I dont like. It should not produce that sound

[2018-06-07 09:16] #77 closed, assigned to nobody

[2018-06-07 10:40] isedwards commented on #75
The latest SQL file, with date 25 ‎March ‎2018, has been obtained from a version of the Climsoft 4 installer shared with @maxwellfundi on Monday 28th May 2018.

[2018-06-07 10:59] dannyparsons opened #85 "Upload functionality on data entry forms"
@maxwellfundi @Patowhiz in `ucrFormDaily2` I added [UploadAllRecords](https://github.com/africanmathsinitiative/Climsoft/blob/dev/ClimsoftVer4/ClimsoftVer4/ucrFormDaily2.vb#L298) which creates `observationinitial` records for each record in the form. The actual lines to add the records is commented out until the issues with EF model and database are fixed but the functionality is there.

I don't t

[2018-06-07 12:51] Patowhiz opened #86 "Calculation of Geopotential and other elements"
In the formSynopticRA1 the current code implementation is using `VariantType ` data type for calculating the geopotential. In the new sunoptic form we are using decimal data types for the same calculation. This has led to a huge difference in our calculations. I'm interested in knowing why @smachua  and @mhabimana decided to use the `VariantType ` data type instead of `Decimal` for this kind of ca

[2018-06-07 13:38] maxwellfundi commented on #85
Okay, we  will look at this after we fix the current issues hopefully for tomorrow skype call

[2018-06-07 13:44] Patowhiz opened #87 "Station and Element Selector View Type"
The current implementation of **ID and Station** makes the resulting view type take the format **"Name ID"** as shown in the image below, should this be **"ID Name"**? Should we change this or leave it.
And the labelling on the context menu, should it be **"ID and Name"** instead of **"ID and Station"** ?
Then we have the **"Sort By Station Name"**, should this be  just "Sort By Name" just like **

[2018-06-07 17:58] Patowhiz opened #90 "Direction Speed Flag Control"
The widths differences of Direction Speed Flag Control need to be similar to the old climsoft form. Currently the Direction Speed and Flag text boxes have the same width.

![direction speed flag](https://user-images.githubusercontent.com/21179007/41117399-9563d95c-6a95-11e8-8983-f6d12b4b0307.JPG)

[2018-06-07 20:41] Patowhiz commented on #74
Closing this issue because it has been stated in issue #78

[2018-06-07 20:41] #74 closed, assigned to nobody

[2018-06-07 20:46] Patowhiz opened #91 "Entity Framework New Database Values"
The entity framework fails to pick new database values that have not been updated through it.

[2018-06-08 08:56] maxwellfundi commented on #91
@isedwards  We have encountered this issue when we for example update the number of wind directions and wind speed via the general settings which should be reflected on to the hourly wind dialog but then even after updating the regkeys table for the speed and direction we have to restart the system for it to pick up the change.  What would be your advice on like a way to refresh so that changes no

[2018-06-08 09:11] dannyparsons commented on #85
This doesn't need to be done before your call because it doesn't affect functionality until the model is updated.

[2018-06-08 10:02] maxwellfundi commented on #91
This also affects selection of the synoptic hours in hourly and hourly wind -when we update the hourly time selection from the tools> hourly selection , we have to restart the software so that the Enable synoptic hours pick the correct values from that table. @smachua this explains why this did not work actually. I hope @isedwards will advice us on how to handle this issue.

[2018-06-08 11:51] dannyparsons commented on #91
I get the same issue.

In our [DataCall](https://github.com/africanmathsinitiative/Climsoft/blob/dev/ClimsoftVer4/ClimsoftVer4/clsDataCall.vb#L206) if you replace `clsDataConnection.db` with `New mariadb_climsoft_test_db_v4Entities` then you get the correct values from the database without restarting.

So this means that the shared `db` property in [clsDataConnection](https://github.com/africanmat

[2018-06-10 18:46] isedwards commented on #36
I've not tested the result of #100 on this issue - but my model designer is still showing a one to zero-or-one relationship between `station` and `observationinitial` despite there now being a composite primary key on the table. It suggests that each station id can only be represented once still.

Let me know if this is still the case. A short term fix, that's should work, would be to remove the f

[2018-06-13 12:02] smachua commented on #38
Table form_synoptic_2_ra1 had been modified to match with the code. Actually a number of tables had been modified. The SQL scripts that were used for those modifications had already been sent to Maxwell. I have attached them here. Please run them to have the database modified.
[modify_tables.txt](https://github.com/africanmathsinitiative/Climsoft/files/2097971/modify_tables.txt)

[2018-06-14 08:55] dannyparsons opened #117 "Validation on "assign to all values""
I typed in 4 to the Value box next to "Assign same value to all obs" and clicked. I then get 31 message boxes one after the other telling me that the value is too low.

Can this validation be done before it tries to fill each obs so that I just get the error message once.

[2018-06-14 09:45] dannyparsons opened #119 "Validation issue when moving to different records"
I have two records in my form_daily2 table for different element. The first has all values of 9, the second has all values of 33. When I move from first to second record I get 31 validation error messages saying that 9 is the upper limit.

I assume this is because it is still using the validation of the first element as its moving to the second element and so thinks the values of 33 are invalid.

[2018-06-14 09:53] dannyparsons opened #120 "Add New record is going to existing records"
I had one record in my form_daily2 table. I created a second record by clicking Add New when I was on the first and it changed the keys to a new element. This then added correctly.

Now when I am on record 1 and click Add New it doesn't give a new record but goes to record 2 and Update and Delete are disabled but Save in enabled. So I can modify the record thinking it is a new record which is not

[2018-06-14 09:54] Patowhiz commented on #119
@dannyparsons  Which element value / code did you test with? For those validations

[2018-06-14 09:55] dannyparsons commented on #119
The element ids for first and second record are 43 and 47 respectively.

[2018-06-14 10:11] Patowhiz commented on #119
Yep. True. The setting of validation is being done after setting of values

[2018-06-14 13:15] Patowhiz opened #124 "Making of Navigation controls in all forms to have the Last Tab Index position"

[2018-06-16 13:58] Patowhiz opened #129 "Form2Daily Units Validation"
@smachua How should we handle validation of units on form2Daily entry form. Should the user be able to type in units that are not in the combobox? Upon entry of invalid units should the user be allowed to still save the records?

[2018-06-16 14:12] Patowhiz commented on #76
This has been addressed on all the data entry forms that require this functionality

[2018-06-16 14:12] #76 closed, assigned to nobody

[2018-06-16 14:16] Patowhiz commented on #83
This has been adrressed in all the data entry forms

[2018-06-16 14:16] #83 closed, assigned to nobody

[2018-06-18 06:28] #79 closed, assigned to nobody

[2018-06-18 06:33] #117 closed, assigned to maxwellfundi, Patowhiz

[2018-06-18 06:33] #119 closed, assigned to maxwellfundi, Patowhiz

[2018-06-18 09:02] #9 closed, assigned to nobody

[2018-06-18 09:02] Patowhiz commented on #9
This was solved

[2018-06-18 11:02] Patowhiz commented on #120
This has to do with the seqencer

[2018-06-18 11:04] Patowhiz commented on #120
When you click on add new the sequencer need to navigate to a new record that does not exists.

[2018-06-18 11:06] Patowhiz commented on #78
This has now been solved

[2018-06-18 11:06] #78 closed, assigned to nobody

[2018-06-18 11:07] Patowhiz commented on #120
This has also been mention here #71

[2018-06-22 09:06] mhabimana commented on #129
@Patowhiz I am testing the climsoft project on the AMI repository, Dev branch and found that on the FormDaily2,there is no units default when the form is opening. I suggest you add the default units as shown below instead of leaving this blank. Users will be able to decide whether  to use the default units or choose different units from the drop down list:
![image](https://user-images.githubuserco

[2018-06-22 11:48] mhabimana opened #138 "Form Hourlywind test"
@Patowhiz  When selecting form hourlywind data form the form list,it is opening 2 forms at the same time,one in front and another hiding on the back.

[2018-06-22 11:52] mhabimana opened #139 "Form Monthly Test"
@Patowhiz  The text boxes for this form need further adjustment (see below) what I am seeing:
![image](https://user-images.githubusercontent.com/10340170/41775262-ede9c108-762b-11e8-889f-234755d08d7b.png)

[2018-06-22 13:07] mhabimana commented on #85
@africanmathsinitiative/climsoft . Can you please let me know how far have you gone with the "Upload button" functionality because I am testing the branch,Dev published by Patrick and this button is not active?This is the error I am getting when I click on upload on Form Hourly (see below). However,this button is not active on formDaily2
![image](https://user-images.githubusercontent.com/10340170/

[2018-06-25 06:19] Patowhiz commented on #138
Oh! We've been using the old forms to check if the new forms work similar to them, the code for opening the old form was not removed. @maxwellfundi will comment it out

[2018-06-25 07:08] maxwellfundi commented on #138
@mhabimana  Please pull latest branch, this should be fixed.

[2018-06-25 09:19] Patowhiz commented on #139
@mhabimana this form is not done yet. We have an issue with entity framework which @isedwards and @dannyparsons are working on. Hopefully we may work on it once the issues are resolved in time.

[2018-06-25 10:22] mhabimana opened #141 "Time response while opening the data entry forms and switch to database"
@africanmathsinitiative/climsoft I was trying to switch to another database but I am still seeing the old station list and yet I have changed the database name and port number under the configuration file. However,there is also a delay to open the form after double clicking this or after selecting the form and clicking  ok on all the data entry form. I guess the data entry forms are not communicat

[2018-06-25 12:18] mhabimana commented on #139
@Patowhiz Ok,sounds great.

[2018-06-25 12:22] Patowhiz commented on #141
@dannyparsons @volloholic @isedwards @maxwellfundi , I'm suspecting the issue of switching to a new database during runtime has to do with the Entity Framework app config file which has it pointed to the old database.  I'm not quite sure on the best way to solve this and whether the EF model will allow changing of the database at runtime.

[2018-06-25 12:26] mhabimana commented on #138
@maxwellfundi Ok,this is now working well (fixed), though the button for save is not active at the starting point (here I mean when there is no data in the entry form table). This means,to start entering data, users need to hit the AddNew button first to make sure the save button is active otherwise if users starts to keying in data into the form box he will finish this and find the save button is

[2018-06-25 12:44] mhabimana opened #143 "Implementation of Delete Cell and Insert Cell Buttons on Data Key Entry Forms in Climsoft V4"
https://github.com/opencdms/Climsoft/issues/286
@africanmathsinitiative/climsoft: I am not sure if you are happy to add/ update the entry forms by adding the 2 important buttons on each form .

[2018-06-25 12:47] maxwellfundi commented on #138
So you suggest for all forms, when there is nor records found on the database then the save button should be enabled?

[2018-06-25 12:48] Patowhiz commented on #129
@mhabimana the issues raised above have just been fixed. You can test that now

[2018-06-25 12:58] mhabimana commented on #138
@maxwellfundi .Yes,this is how it is supposed to work so that when you open the form for the first time,you just start entering data and then save instead of starting by clicking on AddNew to activate the save button then entering data.

[2018-06-25 13:15] mhabimana commented on #129
@Patowhiz : I can not see the change.Just forked the latest project shortly. Have you merged this?

[2018-06-25 13:18] mhabimana commented on #129
@Patowhiz : Oh yes,I can see the change.Thanks

[2018-06-25 13:27] Patowhiz commented on #141
@dannyparsons @volloholic  @maxwellfundi  on the matters of speed when it comes to loading of forms, we could start on querying the database once for all the forms. Currently we are doing 2 database calls in the populate control. The images below of the code snippets describe this. Any suggestions to this will help in reducing the delay.

![code1](https://user-images.githubusercontent.com/21179007

[2018-06-26 12:21] mhabimana commented on #129
@Patowhiz: The default units (standard units) need to be fixed and the units textbox  should not clear when clicking AddNew or save buttons or pressing at any key. This is exactly what is happening. When you open the form Daily2 for the first time or when you click on AddNew button, you see the standard units which is good but when you select the element or click AddNew again, the units disappear.

[2018-06-26 13:41] mhabimana commented on #129
@Patowhiz , @maxwellfundi : Correction is needed on Form Daily 2 default Units,the default unit for clouds height is feet and not metre.

[2018-06-26 14:53] Patowhiz commented on #129
@mhabimana that has now been fixed in the latest pull request. Thank you for checking on this

[2018-06-27 05:55] mhabimana commented on #129
@Patowhiz :I am afraid,not sure if your changes took effect, because I am  seing  metre as default unit for clouds height instead of feet. Please,replace metre by feet under cloud height

[2018-06-27 11:58] Patowhiz commented on #124
This has been fixed

[2018-06-27 11:58] #124 closed, assigned to maxwellfundi, Patowhiz, Muthenya

[2018-06-27 12:05] Patowhiz commented on #120
This has now been partly fixed. The sequencer now works correctly. We only need the field `"entryDateTime"` to be added to the entity framework thenthis will be fully fixed

[2018-06-27 12:31] Patowhiz opened #148 "Navigation to New Record by Button Add New or Key Controls"
@mhabimana  We have now added a coordination of Add New and the changing of values by the key selectors(station,element etc) in the form2Daily. That means the user can now navigate to a new record by either using Add New or changing key control value (e.g station, element, year, day etc). You can test this and give me feedback on it before we do the same for the other 3 forms.

I'm still not compl

[2018-06-27 12:32] Patowhiz commented on #129
@mhabimana sorry I had not merged it before. I have now merged the pull request and this can now be tested

[2018-06-27 12:48] Patowhiz commented on #58
@smachua and @mhabimana what's your opinion on this?

[2018-06-27 12:56] mhabimana commented on #58
@Patowhiz : Samuel shared the table below with Maxwell and I agree with Lesotho that we should not have  more than what is in the table.However,Since Flags appear automatically on the flag text box, we really don't need a combo box of Flag I think and we should not allow typing  of flags on text boxes unless if typed with the value in the value text boxes. Hope this makes sense.
![image](https://u

[2018-06-27 12:56] Patowhiz commented on #57
@mhabimana and @smachua what's your opinion on this. This can be done but the assumption here will be that one of the two, either tmin or tmax must be entered before the other for such a comparison to be valid

[2018-06-27 13:07] mhabimana commented on #57
@Patowhiz : The reason why there is no check for TMax and TMin on the form Daily2 is because,this form is meant to enter one element at time. If this was meant for many elements at a time,this could be obvious. In climsoft,this check is performed during the QC check (enter-element comparison check).

[2018-06-27 13:21] Patowhiz commented on #58
@mhabimana could you outline to me which elements allow specific flags,which ones allow all flags or rather which elements don't allow specific flags. If they are many and it's viable to make this check during data entry then I suggest we have database table with this information (elements with the flags they don't allow I think? ) from which the forms will just do a check at runtime and respond a

[2018-06-27 13:34] Patowhiz commented on #57
@mhabimana I agree with you. We could leave this as it is. In addition, @shadrackkibet gave me logical reason as to why the lesotho teams preferred also to have the check on the form. And this can be trivially done on the data entry forms by just having them do the comparison during entry of these 2 elements only. Then we could just show a prompt(e.g Message box) about it and let the user to proce

[2018-06-27 13:39] mhabimana commented on #58
@Patowhiz : As you can see,the above table is from the database,the table is called "flags" and has got only  five flag.It would be good to reference the codes to this table rather than hard code this. However,T(Trace) is applied to rainfall only but M(Missing) is applied to all the elements.

[2018-06-27 13:45] mhabimana commented on #57
@Patowhiz : I suggest,you can try to implement this check and then we can test how it works.My view.

[2018-06-27 13:46] Patowhiz commented on #58
@mhabimana what about the temperature elements, can they have the G as the flag?

[2018-06-27 13:56] mhabimana commented on #58
@Patowhiz: D (Dubious/Suspect Data value) is applied to all. There are some softwares which G (generates/calculates/computes) values of the elements,given some initial inputs) this also can apply to all the elements,E (estimated) is also applied to all elements.

[2018-06-27 14:21] Patowhiz commented on #56
@mhabimana and @smachua what's your opinion on this?

[2018-06-27 14:35] mhabimana commented on #56
@Patowhiz : It is a good idea to hide the period when entering temperature data since the period doesn't add any value (or is not used) when entering temperature data but it is very important for rainfall(e.g you can cumulate and enter the rainfall for two (2) days and other elements like evaporation,etc.

[2018-06-27 14:40] Patowhiz commented on #56
Okay. Is there any other element other than temperatures that a period is NOT usable? or we just do this for the temperature elements

[2018-06-27 14:54] mhabimana commented on #56
@Patowhiz : I am not sure,but let implement this for temperature for now and see how this will work.

[2018-06-28 12:04] isedwards commented on #18
This issue was auto-closed by GitHub when PR #149 was closed (because of the use of the work "fixes" next to the issue number #18 in the PR description).

I've reopened this issue until the work is merged.

[2018-06-28 14:18] maxwellfundi commented on #18
I have now merged the new updates to the model. This is now available. Once its merged on the dev branch then, this form can be done

[2018-06-29 14:23] maxwellfundi commented on #36
This has also been addressed with the latest update to the model. Upload now works well. Could be closed?

[2018-07-04 07:23] Patowhiz commented on #42
This has now been fixed

[2018-07-04 07:23] #42 closed, assigned to nobody

[2018-07-04 07:27] Patowhiz commented on #33
Closing this since it has now been agreed upon by @smachua and @mhabimana
A confirmation prompt is shown; on saving a new record and updating an existing one
A success message box is shown; on saving a new record and updating an existing one

[2018-07-04 07:27] #33 closed, assigned to nobody

[2018-07-04 07:56] Patowhiz commented on #31
I'm closing this since it has now been agreed on by @smachua and @mhabimana
In addition. the year selector also validates a future year as wrong value.

[2018-07-04 07:56] #31 closed, assigned to nobody

[2018-07-04 08:21] mhabimana commented on #139
@Patowhiz : In Climsoft Verison 3.2,this is how the Form Monthly Data works; when you type the monthly value (under value text box and hit the enter key) the system populates automatically the number of days in the Month in the Period text box (see below):
![image](https://user-images.githubusercontent.com/10340170/42265590-a441c6f4-7f7c-11e8-82a6-9b48710d4c24.png)

[2018-07-04 08:29] Patowhiz commented on #139
Should this happen (period populates) even when the value is indicated as missing?

[2018-07-04 08:37] mhabimana commented on #139
@Patowhiz : Yes,because it is a missing for a  Month with a specific time period (see below): In this case,the missing character (M) and the Period inputs populates automatically once the enter key is pressed.
![image](https://user-images.githubusercontent.com/10340170/42266238-825d7996-7f7e-11e8-99cf-e47770c983ac.png)

[2018-07-05 10:13] mhabimana commented on #141
@africanmathsinitiative/climsoft :Is the switch to databases of choice fixed with the modification of EF? Please let me know.

[2018-07-05 10:46] Patowhiz commented on #141
@mhabimana that has not yet been fixed.

[2018-07-11 13:42] Patowhiz commented on #85
@mhabimana @smachua what should happen to the observationinitial if someone deletes a record on say form2Daily and uploads again. Should all the records of that form be cleared in the onservationinitail table and inserted afresh or just be left. For example I had **2 records** in **formdaily2**, of the same station(e.g BINGA) but different elements (e.g **Temp  Daily Max** and **Temp  Daily Min**

[2018-07-11 13:48] mhabimana commented on #141
@africanmathsinitiative/climsoft : I am surprised to see that I switched to a new database but I am still seing the list of  stations from the old database in the data entry forms. Does it means  that data entry forms are not communicating directly with database tables? I think once you switch to a new database ,data entry forms should point to the new database and populate the content of this ( e

[2018-07-11 14:12] mhabimana commented on #85
@Patowhiz :Thanks,when entering data in different forms (e.g. Form Daily2) all the data entered are stored in Form Daily2 Table. Once the upload button is clicked,all the contents of this form goes to observationinitial table with QC status 0 (e.i: they have not yet going through QC  process) of course,the contents of form will not be deleted in the form daily2 table ( climsoft V3.1 had an option

[2018-07-11 14:15] Patowhiz commented on #141
The current implementation of the connection to the database is static and comes from a file named App.Config which has the connection properties of the database that the EF is connecting to. In my case, this file has the xml tag that tells the EF where to connect to .

[code]

For now you can just change the database you want to connect to from there. As we think of how changing of the connection

[2018-07-11 14:20] mhabimana commented on #141
@Patowhiz : Thanks,it makes sense.

[2018-07-11 14:22] Patowhiz commented on #85
Aha! I get the overwitting bit. The bit where I'm a bit confused is, what happens to the corresponding record that I have deleted in form2Daily. For instance I have 10 records in form2Daily then I click button upload. Then I go ahead and delete 5 records, which means I now have 5 records remaining. Then I click on update the second time. I know the 5 records will overwrite their values in the obse

[2018-07-11 14:26] mhabimana commented on #85
@Patowhiz : Form Daily2 hold data temporarily.The most important button is the upload which transfer data into the observationinitial for further processing.That means,after clicking on the upload,you can decide to delete the contents of the formDaily2 table or leave these,this will not affect observationinitial contents.

[2018-07-11 14:29] Patowhiz commented on #85
Okay thanks I now understand

[2018-07-12 06:00] mhabimana commented on #36
@maxwellfundi : I cloned the latest PR yesterday and I am using the "dev" branch  but the upload button is not active on all the data entry forms under this branch. I wonder if  you have updated this branch with the latest changes ( including the upload button functionalities) or not yet.

[2018-07-12 09:21] Patowhiz commented on #38
@smachua @mhabimana below is an image of form_synoptic_2_ra1 . It shows how currently we are associating each control with it's corresponding element code. With the new database there has been changes to the field in the table and therefore we also need to make changes to this form. I've gone through the elements codes in obselement table but I'm still not quite sure with some of the descriptions.

[2018-07-12 09:28] Patowhiz commented on #38
@smachua @mhabimana I've also noticed that some of the element names do not completely correspond to the label we have used in this form. For instance 107 is labelled Pressure Reduced to MSL-P yet its element name is Pressure  Sea Level. Is that done intentionally or these are their formal alternative names?

[2018-07-12 09:42] Patowhiz commented on #139
@mhabimana I just noticed from the screenshots above of climsoft v3, the months are in their corresponding words instead of numbers. Should we have the current numbers changed to their corresponding words or continue using the month numbers?

[2018-07-12 10:57] mhabimana commented on #139
@Patowhiz : Thanks, yes,it would be great to have the labelling in words like in climsoft V3.x. Feel free to change this please.

[2018-07-12 11:01] mhabimana commented on #38
@Patowhiz :107 is labelled Pressure Reduced to MSL-P or Pressure Sea Level. It is the same.

[2018-07-12 11:45] Patowhiz commented on #139
@mhabina. I'm implementing the **upload** functionality for this form. It doesn't have a day and an hour column. Yet we need to have a **date** object which will be stored to the `obsDatetime `of the `observationinitial `table. What is the recommended default day and hour. @smachua uses **1** as **day** value and **6** as the **hour** value, I thought this should be day=**last day of the month**.

[2018-07-12 13:59] Patowhiz commented on #139
@mhabimana @isedwards @dannyparsons add new won't go to a new record for this form because it relies on table seq_year as it's sequencer, which is not available even in the updated model. I'll add this as separate issue

[2018-07-12 14:04] Patowhiz commented on #139
This is how the new form monthly will look like

![frmmonthly](https://user-images.githubusercontent.com/21179007/42638149-97bb9f7a-85f5-11e8-8a1b-fc3de254bcea.JPG)

[2018-07-13 09:09] Patowhiz commented on #38
@mhabimana @smachua @dannyparsons @isedwards @maxwellfundi below is a screenshot of form_synoptic_ra1 form demonstrating the corresponding element code.s for all the elements that on the form.  **Flag169, Flag170** and **Flag171**  do **not** exist in the **database** and **entity framework**. Their corresponding **Val_Elem169,Val_Elem170** and **Val_Elem171** do exist. For this form to be usable,

[2018-07-13 09:50] mhabimana commented on #38
@Patowhiz  @dannyparsons @isedwards @maxwellfundi @smachua : I had a discussion with Samuel yesterday and he is suggesting that since you are using the test database which is not up to date,he is going to update both the test database and the empty database with the latest changes and share the script with the team to avoid any change of the model which may be the result of conflicts with the exis

[2018-07-15 20:30] smachua commented on #38
@Patowhiz @dannyparsons @isedwards @maxwellfundi: Following Marcellin's comment I have attached a file containing SQL scripts for all the modifications that have been done on different tables. The modifications became necessary while implementing AWS and TDCF functions. form_synoptic_ra1 has been modified as well.
[tables_modify.txt](https://github.com/africanmathsinitiative/Climsoft/files/2196067

[2018-07-15 20:40] smachua commented on #38
Me and Marcellin are in the process of merging our code and that from AMI team. We therefore suggest that any additions should be done after the merging has succeeded. From the AMI code it seems database connection is hardwired in the code and pointing to 'mariadb_climsoft_test_db_v4 or we're missing something. We have always recommended that the code should allow data connection at run time. Any

[2018-07-16 06:40] mhabimana commented on #38
@africanmathsinitiative/climsoft : Just to add that the above script  should be renamed as  tables_modify.sql  and then executed on both mariadb_climsoft_db_v4 and mariadb_climsoft_test_db_v4 to update both databases with the latest modifications.

[2018-07-16 07:56] maxwellfundi commented on #36
@mhabimana  This should now be working for you. I am closing this now.

[2018-07-16 07:56] #36 closed, assigned to nobody

[2018-07-16 08:59] mhabimana commented on #36
@maxwellfundi : Thanks,noted.

[2018-07-16 09:08] mhabimana commented on #36
@maxwellfundi :The upload button is working well but some thing to show the progress of data transfer should be added to notify users on the progress of this operation..

[2018-07-16 09:12] mhabimana commented on #143
@Patowhiz : any progress on this?

[2018-07-16 09:30] Patowhiz commented on #143
i'm finalizing on it. I'm implementing on a right click menu (currently it's there but functionality disabled). I will push this together with the updates that will be made on the entity framework

[2018-07-16 09:53] mhabimana commented on #143
@Patowhiz :Thanks, Sounds great.

[2018-07-16 10:33] rdstern commented on #38
Great to hear that you are in the process of updating. We have discussed with the AMI team and they are not currently working on the code until you finish.

Samuel queries the fact that the AMI code currently includes hard-wiring in the code to the 'mariandb-climsoft_test_db_v4'.    My understanding is that the hard-wiring was in the code as they received it.  They have concentrated on the data en

[2018-07-18 06:13] isedwards commented on #38
It's important that we don't just put the two versions of the code together manually (e.g. by copying and pasting). The recent developments by AMI have [a long history of commits](https://github.com/africanmathsinitiative/Climsoft/commits/dev) discussing and explaining all the changes that have been made (these would al be lost if the final source is just copied).

There are other advantages to ke

[2018-07-18 06:24] isedwards commented on #38
@rdstern - Samuel is correct - the new code currently contains the connection string with details of the development database and test database because Entity Framework was using this during development. This can now be replaced by passing the required connection string to the `DbContext` constructor at run time.

[2018-07-18 11:44] rdstern commented on #38
I can well appreciate the importance of merging so that the history is kept.  We need to get the version for testing as soon as possible, but it is also our baseline and so important that it is done so that it can easily be advanced in the future.

@mhabimana are you and @smachua comfortable with this, or is it be something where help from @isedwards or @maxwellfundi or @dannyparsons or @volloholi

[2018-07-18 12:35] smachua commented on #38
@rdstern and @isedwards. We (@smachua and @mhabimana) have no problem with merging through Github. We had successfully put all code (samuel, victor and AMI) together to test how the combined code works then upload it to Github. It  worked ok only that the code by AMI had database connection hardwired to the test database and lacked database connection flexibility. As such the new forms developed b

[2018-07-18 17:01] Steve-Palmer commented on #38
@Patowhiz @smachua and @mhabimana  - thinking about the problem with the Entity Framework, we probably need to do some work on aligning this set with other work going on in WMO on entity descriptions. I will check with Jeremy Tandy, find out what the state is, and produce some ideas. There was work to produce standardised long and short descriptors for observation elements. However, probably not a

[2018-07-18 17:21] Patowhiz commented on #38
@Steve-Palmer great idea, looking forward to such a proposal.

[2018-07-19 06:29] mhabimana commented on #143
@Patowhiz : Let me know when this is ready so that I test how it works,I think this was the only remaining.

[2018-07-23 07:42] maxwellfundi commented on #36
@mhabimana Yes, this could be added and we could actually use the currently existing dialog.

[2018-07-31 18:50] Patowhiz commented on #143
@mhabimana @maxwellfundi  this is now ready. I would like you to test it.

[2018-08-01 05:38] maxwellfundi commented on #143
@Patowhiz Great. So please do a pull request to opencdms so that we can get your changes.

[2018-08-01 05:49] mhabimana commented on #143
@Patowhiz Well noted.

[2018-11-16 15:39] #75 closed, assigned to isedwards

[2019-01-23 09:34] isedwards opened #154 "Possible changes to Climsoft 4 data model"

[2019-01-23 09:52] isedwards opened #155 "obscomments table"
I think it is very easy to make the case for a new `observationcomments` table (see suggestion 3 in #154).

There is no need to modified either of the existing observation tables. Instead the new table just needs:

|foreign key|comment|
|:-----------:|:----------:|
|...               |...              |
|...               |...              |

If users want to download observation data with comment

[2019-01-23 11:31] isedwards commented on #154
Currently, we know which observation is the "current best value" because it is stored in `observationfinal` instead of `observationinitial`.

@maxwellfundi - If we know which record is the current best value, is there any reason why we need to record the order in which the other previous versions of the observation were recorded?

[2019-01-24 09:06] dannyparsons commented on #154
@isedwards I thought that the best version is not necessarily always in the `observationfinal` table, only when it has gone through sufficient quality control? For example, after data entry or double data entry or some initial quality control, there might only be values in the `observationinitial` table. In that case, shouldn't we still have a current best value in the `observationinitial` table?

[2019-01-24 13:28] isedwards commented on #154
Yes, you're right. That is how it currently works.

[2019-01-24 18:50] dannyparsons commented on #154
Do we continue with this or propose something different?

[2019-01-25 06:37] isedwards commented on #154
We should continue to use `observationinitial` and `observationfinal` as they are currently being used. In the countries where Climsoft 4 is already installed the databases will have existing data in these two tables.

[2019-01-25 09:22] dannyparsons commented on #154
Ok. Does this mean that adding any new fields to these tables would cause problems for existing users?

[2019-01-25 09:38] rdstern opened #156 "Quality control and database information when updating metadata"
This is not ready for a quick solution yet, but is an important issue.

I put 2 related points together to make my case.  It came from the Rwanda workshops in September.

1. When we make **corrections to the climatic data** there needs to be a record of the details of the correction.  This is agreed and was discussed and @smachua had clear ideas of what to do to keep a record of these changes.
2.

[2019-01-25 09:49] dannyparsons commented on #156
I think this is a duplicate of a discussion started here https://github.com/opencdms/Climsoft/issues/439 by Maxwell.

[2019-01-25 09:59] isedwards commented on #154
We may be able to add fields without causing any problems.

The new code will need to be able to cope with observations that do not have data in the new fields. When the new field is first created, existing rows will either be null, or they can have a default that we specify.

We should keep in mind that an organisation could have other machines that still connect to the database using instances o

[2019-01-28 10:58] smachua commented on #156
@rdstern my idea was to introduce a log file that will list changes made on data and metadata.  Data in the log file will be delimited hence can be easily analysed. This way there will be no need to create an additional table. Any other approach is welcome.

[2019-02-04 18:29] Steve-Palmer commented on #156
I think there are several issues here. First of all, metadata needs to handled differently from observation data.
1. If there is an error in the metadata, then correction is needed, but there is no overriding need to record the history of the error. The example here is (as Roger says) stations with incorrect lat/long locations. An earlier example from the Met Office, when we did data cleaning we f